 
 @import url('https://fonts.googleapis.com/css?family=Francois+One');


 body {
	background-color: #301700;
}

h1 {
	color: #e6e6e6;
	font-family: Avenir Next;
	font-size: 40px;
	text-align: left;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	color: #e6e6e6;
	font-family: Avenir Next;
	font-size: 29px;
	text-align: left;
	margin: -4%, 0, 0, 0, ;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}


h3 {
	color: #e6e6e6;
	font-family: Avenir Next;
		font-size: 16px;
	text-align: center;
}


a {
	color: #f5f7ff;
	font-family: Avenir Next;
	display: block;
	text-align: left;
	font-size: 19px;
	padding: 40px, 40px, 40px, 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

a:hover {
	color: #e09d42;
	text-align: center;
	background: white;
	font-weight: bold;

}
